/* CSS Document */

.featured-card-container {
	margin: 16px auto 16px ;
	width: 60%;
	border-radius: 3px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 16px;
  padding: 10px;
}

.featured-card-container div {
	border-radius: 3px;
  text-align: left;
  padding: 0;
  font-size: 30px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.featured-card-container div:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.featured-card-container img {
	width: 100%;
	border-radius: 3px 3px 0 0;
}

.featured-card-container h6 {
	font-size: 18pt;
	margin: 8px 16px 0 16px;
}

.featured-card-container p {
	font-size: 13pt;
	margin: 8px 16px 16px 16px;
}

.about-card-container {
	margin: 16px auto 16px ;
	width: 60%;
	border-radius: 3px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 16px;
  padding: 10px;
}

.about-card-container h1 {
	font-size: 18pt;
	margin: 20px;
}

.about-card-container h6 {
	font-size: 14pt;
	margin: 20px;
}

.about-card-container p {
	font-size: 14pt;
	margin: 20px;
	line-height: 1.5em
}

.about-card-container div {
	border-radius: 3px;
  text-align: left;
  padding: 0;
  font-size: 30px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	grid-column-start: 1;
	grid-column-end: 3;
}

.about-card-container aside {
	border-radius: 3px;
	text-align: left;
	padding: 0;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
